@use '../../base/cardView/variables' as *;
@use '../colors' as *;

$cardview-header-item-background-color: $colors-grey-10 !default;
$cardview-header-item-border-width: 1px !default;
$cardview-header-item-border-radius: 6 !default;
$cardview-header-item-border-color: #E0E0E0 !default;
