@use '../../base/cardView/variables';
@use '../../base/cardView/content_view/content/card/variables' as card;
@use '../colors' as *;

$cardview-header-item-background-color: $colors-neutral-300 !default;
$cardview-header-item-border-color: $colors-neutral-300 !default;

$cardview-card-border-color: rgba(224, 224, 224, 1);
