@use '../../base/cardView/variables' as *;
@use '../colors' as *;

$cardview-header-item-background-color: $colors-neutral-grey-0 !default;
$cardview-header-item-border-color: #DDDDDD !default;

// getFigmaVariable('Card/neutrals/strokes/1/rest', 'Components ', 'Generic', 'Light', 'Default')
$cardview-card-border-color: #4D4D4D !default;
