@use '../../base/cardView/variables' as *;
@use '../_sizes' as *;

$cardview-header-item-border-width: 1px !default;
// getFigmaVariable('Header item/Ñorner-radius/Bubble M (true)', 'Components', 'Generic')
$cardview-header-item-border-radius: 4 !default;
