@use './variables' as *;

.dx-cardview-card {
  min-width: $cardview-card-min-width;
  border: $cardview-card-border-size solid $cardview-card-border-color;
  padding: 15px 30px;
}

.dx-cardview-field span {
  display: inline-block;
  width: 50%;
  white-space: nowrap;
}