@use './colors' as *;
@use './sizes' as *;

.dx-cardview-card {
  min-width: $min-width;
  border: $border-size solid $border-color;
  padding: 15px 30px;
}

.dx-cardview-field span {
  display: inline-block;
  width: 50%;
  white-space: nowrap;
}
